<>
	<menuitem label="Overview" icon="downArrowIcon">
		<menuitem label="Unix Overview" type="dashboard" value="Unix Overview"/>
		<menuitem label="Estate TimeSeries" type="search" value="Unix Estate TimeSeries"/>
		<menuitem label="Overall KPI" type="search" value="Unix Overall"/>
		<menuitem label="Alerts Triggered" type="search" value="Unix - Alert Triggered"/>
		
	</menuitem>
	<menuitem label="CPU" icon="downArrowIcon">
		<menuitem label="CPU Summary" type="dashboard" value="Unix CPU Summary"/>
		<menuitem label="CPU Load" type="search" value="Unix CPU Load"/>
		<menuitem label="CPU By Process" type="search" value="Unix CPU by Process"/>
		<menuitem label="CPU By User" type="search" value="Unix CPU by User"/>
		<menuitem label="CPU Commands" type="search" value="Unix CPU Common Commands"/>
		<menuitem label="CPU Details" type="search" value="Unix CPU Min Avg Max by Server"/>
	</menuitem>
	<menuitem label="Memory" icon="downArrowIcon">
		<menuitem label="Memory Summary" type="dashboard" value="Unix Memory Summary"/>
		<menuitem label="Memory General" type="search" value="Unix Memory General (Percent)"/>
		<menuitem label="Memory by Process" type="search" value="Unix Memory by Process (Percent)"/>
		<menuitem label="Memory by User" type="search" value="Unix Memory by User (Percent)"/>
		<menuitem label="Memory Commands" type="search" value="Unix Memory Common Commands"/>
	</menuitem>
	<menuitem label="Network" icon="downArrowIcon">
		<menuitem label="Network Summary" type="dashboard" value="Unix Network Summary"/>
		<menuitem label="Network TCP/UDP" type="dashboard" value="Unix Network TCP/UDP Traffic (Packets)"/>
		<menuitem label="Network Bandwidth" type="search" value="Unix Network Bandwidth Total (MB/s)"/>
		<menuitem label="Network Tx/Rx" type="search" value="Unix Network Bandwidth Tx Rx Details"/>
	</menuitem>
	<menuitem label="Other" icon="downArrowIcon">
		<menuitem label="Ganglia-like" icon="downArrowIcon">
			<menuitem label="Estate Overview" type="dashboard" value="Unix Ganglia"/>
			<menuitem label="Ganglia CPU" type="search" value="Unix CPU Ganglia Overall"/>
			<menuitem label="Ganglia Mem" type="search" value="Unix Memory Ganglia Overall"/>
		</menuitem>
		<menuitem label="Disk Use" type="search" value="Unix DF Stats (Percent Used)"/>
		<menuitem label="LSOF" type="search" value="Unix LSOF Count"/>
		<menuitem label="Hardware" type="search" value="Unix Hardware"/>
	</menuitem>
	<menuitem label="Documentation" icon="downArrowIcon">
		<menuitem label="About" type="html" value="http://community.liquidlabs.co.uk/home/release-1-0/os-monitoring/unix-monitoring"/>
		<menuitem label="Logscape" icon="downArrowIcon">
			<menuitem label="LogScape Support" type="html" value="http://support.liquidlabs.co.uk"/>
			<menuitem label="LogScape Community" type="html" value="http://community.liquidlabs.co.uk"/>
		</menuitem>
	</menuitem>
	<menuitem label="Admin" icon="downArrowIcon">
		<menuitem label="Alerting" type="alerting" value=""/>
		<menuitem label="Log Explorer" type="explorer" value=""/>
		<menuitem label="Reports" type="reports" value=""/>
		<menuitem label="Live Events" type="live" value=""/>
		<menuitem label="Logout"/>
	</menuitem>

</>
